<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>OHQueue</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="/">OHQueue</a>
        <form class="form-inline" action="{% url 'ohq:search' %}" method="post">
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="Course e.g. CPEN502">
            <button class="btn btn-success my-2 my-sm-2" type="submit">Search</button>
        </form>
    </nav>
    <div class="container-fluid mt-2">
        <h2>
            {{ course.code }}: {{ course.course_name }}
            {% if course.status %}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" 
                    class="bi bi-circle-fill" viewBox="0 0 16 16" style="fill:#28a745">
                    <circle cx="8" cy="8" r="8"></circle>
                </svg>
            {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" 
                    class="bi bi-circle-fill" viewBox="0 0 16 16" style="fill:#dc3545">
                    <circle cx="8" cy="8" r="8"></circle>
                </svg>
            {% endif %}
        </h2>
        <div class="row gx-5">
            <div class="col-8">
                <!-- Current student -->
                {% if course.status %}
                <div class="container p-3 border bg-light">
                    <h4>Current student(s) in office hour</h4>
                    <button type="button" class="btn btn-primary">Next Student</button>
                    <button type="button" class="btn btn-secondary" disabled>Put Back Selected Student</button>
                    <table class="table table-striped mt-2">
                        <thead>
                        <tr>
                            <th style="width: 10%">Select</th>
                            <th style="width: 20%">Name</th>
                            <th style="width: 70%">Question</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                </div>
                            </td>
                            <td>Doe</td>
                            <td>john@example.com</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                </div>
                            </td>
                            <td>Moe</td>
                            <td>mary@example.com</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                </div>
                            </td>
                            <td>Dooley</td>
                            <td>july@example.com</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Students in queue -->
                <div class="container p-3 border bg-light">
                    <h4>Students in queue</h4>
                    <button type="button" class="btn btn-primary">Invite Selected Students</button> 
                    <table class="table table-striped mt-2">
                        <thead>
                        <tr>
                            <th style="width: 10%">Select</th>
                            <th style="width: 20%">Name</th>
                            <th style="width: 70%">Question</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                </div>
                            </td>
                            <td>Doe</td>
                            <td>john@example.com</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                </div>
                            </td>
                            <td>Moe</td>
                            <td>mary@example.com</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                </div>
                            </td>
                            <td>Dooley</td>
                            <td>july@example.com</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Office hour is off -->
                {% else %}
                <div class="container p-3 border bg-light">
                    <h4>You are yet to start the office hour queue!</h4>
                    <p>Toggle the switch on the right to start office hour.</p>
                </div>
                {% endif %}
            </div>
            <div class="col-4">
                <div class="container p-3 border bg-light">
                    <!-- Toggle the queue on/off -->
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch1">
                        <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
                    </div>


                </div>
            </div>
        </div>
    </div>
</body>
