<!-- render in views -->
{% if course_status %}
  {% if is_joined %}
    {% if not is_invited %}
      <h4>You are in queue! There are <b>{{ number_in_queue }}</b> students before you.</h4>
      <form action="{{ course_pk }}/join_queue" method="post">
        {% csrf_token %}
        <label for="student_question">Write down your question(s):</label>
        <textarea name="student_question" id="student_question" 
          class="form-control" rows="2" placeholder="E.g. how many stars in the universe?">{{student_question}}
        </textarea>
        <button type="submit" class="btn btn-primary mt-2">Modify Question</button>
        <button type="submit" formaction="{{ course_pk }}/quit_queue" 
          class="btn btn-danger mt-2">Quit Queue</button>
        <button type="button" id="hide" class="btn btn-primary mt-2" onclick="loadQueueStatus()">Refresh</button>
      </form>
    {% else %}
      <h4>You are now invited to join the office hour. You can ask question now.</h4>
      {% if link %}
        <div class="alert alert-success" role="alert">
          You can join the Zoom meeting here: 
          <a href={{ link }}>{{ link }}</a>
        </div>
      {% endif %}
      <form action="{{ course_pk }}/join_queue" method="post">
        {% csrf_token %}
        <label for="student_question">Write down your question(s):</label>
        <textarea name="student_question" id="student_question" 
          class="form-control" rows="2" placeholder="E.g. how many stars in the universe?">{{student_question}}
        </textarea>
        <button type="submit" class="btn btn-primary mt-2">Modify Question</button>
        <button type="submit" formaction="{{ course_pk }}/quit_queue" 
          class="btn btn-danger mt-2">Quit Queue</button>
        <button type="button" id="hide" class="btn btn-primary mt-2" onclick="loadQueueStatus()">Refresh</button>
      </form>
    {% endif %}
  {% else %}
    <h4>You are not in queue. There are <b>{{ number_in_queue }}</b> students in queue.</h4>
    <form action="{{ course_pk }}/join_queue" method="post">
      {% csrf_token %}
      <label for="student_question">Write down your question(s):</label>
      <textarea name="student_question" id="student_question" 
        class="form-control" rows="2" placeholder="E.g. how many stars in the universe?"></textarea>
      <button type="submit" class="btn btn-primary mt-2">Join Queue</button>
      <button type="submit" formaction="{{ course_pk }}/quit_queue" 
        class="btn btn-secondary mt-2" disabled>Quit Queue</button>
      <button type="button" id="hide" class="btn btn-primary mt-2" onclick="loadQueueStatus()">Refresh</button>
    </form>
  {% endif %}
{% else %}
  <h4>The office hour is not happening. Please contact your instructor.</h4>
{% endif %}